<div class="shindan-con">

<div class="intoro">
<h2>診断結果</h2>
<p>あなたへのおすすめは…</p>
</div>
<div class="shindan-container">
<div class="shindan">
    <% if @shindan.question == "111" %>
    <a href="http://obakensan.com/if/" target="_blank">
     <%= image_tag("ifu.musebiya.jpg", size: "500x450")  %>
    </a>
    <h1>畏怖咽び家</h1>
    <p>殺人鬼に見つからないように古民家から脱出！</p>
    <p>狭い木造一軒家を丸ごと利用した極限のハラハラ感を味わおう</p>

    <% if @shindan.question == "112" %> 
    <a href="http://obakensan.com/if/" target="_blank">
     <%= image_tag("ifu.musebiya.jpg", size: "500x450")  %>
    </a>
    <h1>畏怖咽び家</h1>
    <p>殺人鬼に見つからないように古民家から脱出！</p>
    <p>狭い木造一軒家を丸ごと利用した極限のハラハラ感を味わおう</p>

    <% elsif @shindan.question == "121" %>
    <br> <a href="http://obakensan.com/kyouso/" target="_blank">
     <%= image_tag("kyouso.musebiya.jpg", size: "450x275")  %>
    </a><br>
    <h1>凶遡咽び家</h1>
    <p>幽霊が住む異界屋敷から脱出！</p>
    <p></p>

    <% elsif @shindan.question == "122" %>
    <br> <a href="http://obakensan.com/kyouso/" target="_blank">
     <%= image_tag("kyouso.musebiya.jpg", size: "450x275")  %>
    </a><br>
    <h1>凶遡咽び家</h1>
    <p>幽霊が住む異界屋敷から脱出！</p>
    <p></p>

    <% elsif @shindan.question == "212" %>
    <br><a href="http://obakensan.com/zero/" target="_blank">
     <%= image_tag("tokusyusousa.jpg", size: "450x275")  %>
    </a><br>
    <h1>特殊捜査0課</h1>
    <p>ホラーゲームの雰囲気も楽しめる謎解き特化のアトラクション</p>
    <p>特殊捜査0課となってY澤精肉店の謎を解こう</p>

    <% elsif @shindan.question == "222" %>
    <br><a href="http://obakensan.com/zero/" target="_blank">
     <%= image_tag("tokusyusousa.jpg", size: "450x275")  %>
    </a><br>
    <h1>特殊捜査0課</h1>
    <p>ホラーゲームの雰囲気も楽しめる謎解き特化のアトラクション</p>
    <p>特殊捜査0課となってY澤精肉店の謎を解こう</p>

    <% elsif @shindan.question == "211" %>
    <h1>期間限定イベント</h1>
    <p>全国各地で開催されるオバケン主催のホラーイベント</p>
    <p>一味違った恐怖を楽しもう</p>

    <% elsif @shindan.question == "221" %>
    <h1>期間限定イベント</h1>
    <p>全国各地で開催されるオバケン主催のホラーイベント</p>
    <p>一味違った恐怖を楽しもう</p>

    <% end %>

</div>

<% end %>

</div>



